### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.

In [1]:
# Let's import the required libraries 
import selenium
from selenium import webdriver 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [44]:
url = 'http://www.naukri.com/'
driver.get(url)

In [4]:
# finding web elelment for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input" )
search_job

In [5]:
# write on a search bar
search_job.send_keys("Data Scientist")

In [6]:
# finding web element for search location bar using asolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [7]:
search_locn.send_keys("Banglore")

In [8]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [9]:
search_btn.click()

## Extracting job titles

In [10]:
# lets extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [11]:
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="c3f8689c-5935-4960-bbb5-2da1fb0f68ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="becaf45f-0037-4406-9250-4a3b9d6b6fb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="2101cbaa-735b-40f6-b94d-378b51dbd4bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="6865ec67-dd37-4831-9840-5bd9162f5396")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="f3c89914-b200-4c60-8863-b2245f5a6876")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="251e310c-2f6e-4151-8a2b-26e58fdb0ef4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="300a29bb-eb19-4867-9928-b59d3ce82846")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="665d2249-0323-4082-a004-cb307e5c40e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="183fbb33-d7c9-44bf-9256-52d8206b89f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="d19222df-0bed-4e6a-8ef6-32e0c64e2c02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="f5748c2a-0a50-4b6c-bf04-a438b2f01747")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="27873f78-1944-48d9-bd14-94cdcf7a0365")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="77fbd43e-a3b7-4d08-b251-b9f0b734e6d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="82d77fea-0d71-486e-b29a-8b08338e89f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="54e459de-7d19-4cf0-8d3c-1530173c9022")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="fd3b230a-62de-4dd4-b676-9b403823eeb0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="94099e5d-80e9-4dc4-a97f-4b9c78f0c900")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="d8726e5e-8da4-448c-9eb0-daa53785364a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="fc850844-dc61-48e4-b0e8-715f7aa0130d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="87bc86dfcbc69eaa3e13f01c307f076e", element="323824ff-db4a-4170-aedb-55b23401b06d")>]

In [12]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over th tags 
job_titles =[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [13]:
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Analyst / Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist (Fintech)',
 'Senior Data Scientist',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Data Scientist / Analyst',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist',
 'Principal Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Louis Dreyfus Company Looking For Data Scientist',
 'Wanted Data Scientists / Senior Data Scientists For our MNC client.',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence']

## Extracting company names

In [14]:
# lets extract all web elements having company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [15]:
# so we will run a for loop to iterate all web elements having company names
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [16]:
company_names

['Dell',
 'MilliporeSigma',
 'IBM',
 'IBM',
 'Siemens',
 'Sabre',
 'NIRA',
 'Shell',
 'Wipro',
 'Wipro',
 'Wipro',
 'Talentify',
 'Wrackle Technologies Pvt Ltd',
 'NAVIKENZ INDIA PRIVATE LIMITED',
 'Walmart',
 'Corner Stone Solutions',
 'Louis Dreyfus Commodities',
 'Andre Consultancy Services Private Limited',
 'IBM',
 'IBM']

## Extracting experience

In [17]:
# Let's extract all web elements having experience using contains
exp_tags = driver.find_elements_by_xpath('//*[contains(@title, "Yrs ")]')
len(exp_tags)

20

In [18]:
# Let's extract all web elements having experiance using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]' )
len(exp_tags)

20

In [19]:
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [20]:
experience

['3-5 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '4-6 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-1 Yrs',
 '6-11 Yrs',
 '2-5 Yrs',
 '7-12 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '4-8 Yrs',
 '3-7 Yrs']

## Extracting location

In [25]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [29]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

## Extracting salary

In [30]:
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [31]:
salary = []

for i in sal:
    salary.append(i.text)
len(salary)

20

In [32]:
salary

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '25,00,000 - 35,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '65,00,000 - 1 Cr and above PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '1,00,000 - 2,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [33]:
len(job_titles), len(company_names), len(experience),len(location), len(salary)

(20, 20, 20, 20, 20)

In [34]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_names
jobs['Experience'] = experience
jobs['Location'] = location
jobs['Salary'] = salary
jobs

,Job Title,Company,Experience,Location,Salary
0,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
1,Analyst / Data Scientist,MilliporeSigma,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
2,Data Scientist: Advanced Analytics,IBM,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
3,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
4,Senior Data Scientist,Siemens,3-8 Yrs,Bangalore/Bengaluru,Not disclosed
5,Senior Data Scientist,Sabre,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
6,Senior Data Scientist (Fintech),NIRA,4-6 Yrs,Bangalore/Bengaluru,"25,00,000 - 35,00,000 PA."
7,Senior Data Scientist,Shell,6-11 Yrs,"Chennai, Bangalore/Bengaluru",Not disclosed
8,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Not disclosed
9,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Not disclosed
10,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Not disclosed
11,Data Scientist / Analyst,Talentify,0-1 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...","65,00,000 - 1 Cr and above PA."
12,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,6-11 Yrs,Bangalore/Bengaluru,Not disclosed
13,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,2-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Not disclosed
14,Principal Data Scientist,Walmart,7-12 Yrs,Bangalore/Bengaluru,Not disclosed
15,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,0-1 Yrs,"Indore, Bangalore/Bengaluru\n(WFH during Covid)","1,00,000 - 2,00,000 PA."
16,Louis Dreyfus Company Looking For Data Scientist,Louis Dreyfus Commodities,0-2 Yrs,Bangalore/Bengaluru,Not disclosed
17,Wanted Data Scientists / Senior Data Scientist...,Andre Consultancy Services Private Limited,2-6 Yrs,"Noida, Chennai, Bangalore/Bengaluru",Not disclosed
18,Data Scientist: Artificial Intelligence,IBM,4-8 Yrs,Bangalore/Bengaluru,Not disclosed
19,Data Scientist: Artificial Intelligence,IBM,3-7 Yrs,Bangalore/Bengaluru,Not disclosed

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
### This task will be done in following steps:
### 1. First get the webpage https://www.naukri.com/
### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
### 3. Then click the search button.
### 4. Then scrape the data for the first 10 jobs results you get.
### 5. Finally create a dataframe of the scraped data.

In [58]:
 # Let's import the required libraries 
import selenium
from selenium import webdriver 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [59]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [60]:
url = 'http://www.naukri.com/'
driver.get(url)

In [61]:
# finding web elelment for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input" )
search_job

In [62]:
# write on a search bar
search_job.send_keys("Data Scientist")

In [63]:
# finding web element for search location bar using asolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [64]:
search_locn.send_keys("Banglore")

In [65]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [66]:
search_btn.click()

### Extracting job titles

In [67]:
# lets extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [68]:
# Now the text of job title is inside the web elements extracted above
# so we will run a for loop to iterate over th tags 
job_titles =[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

### Extracting company names

In [69]:
# lets extract all web elements having company names
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [70]:
# so we will run a for loop to iterate all web elements having company names
company_names = []

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

### Extracting experience

In [71]:
# Let's extract all web elements having experience using contains
exp_tags = driver.find_elements_by_xpath('//*[contains(@title, "Yrs ")]')
len(exp_tags)

20

In [72]:
# Let's extract all web elements having experiance using parent tag
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]' )
len(exp_tags)

20

In [73]:
experience = []

for i in exp_tags:
    experience.append(i.text)
len(experience)

20

In [74]:
experience

['3-5 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '4-6 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-1 Yrs',
 '6-11 Yrs',
 '2-5 Yrs',
 '7-12 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '2-6 Yrs',
 '4-8 Yrs',
 '3-7 Yrs']

### Extracting location

In [75]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [76]:
location = []

for i in locn_tags:
    location.append(i.text)
len(location)

20

### Extracting salary

In [77]:
sal = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(sal)

20

In [78]:
salary = []

for i in sal:
    salary.append(i.text)
len(salary)

20

In [79]:
len(job_titles), len(company_names), len(experience),len(location), len(salary)

(20, 20, 20, 20, 20)

In [82]:
## Let's create a DataFrame for our data
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[0:11]
jobs['Company'] = company_names[0:11]
jobs['Experience'] = experience[0:11]
jobs['Location'] = location[0:11]
jobs['Salary'] = salary[0:11]
jobs

,Job Title,Company,Experience,Location,Salary
0,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
1,Analyst / Data Scientist,MilliporeSigma,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
2,Data Scientist: Advanced Analytics,IBM,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
3,Data Scientist: Advanced Analytics,IBM,2-5 Yrs,Bangalore/Bengaluru,Not disclosed
4,Senior Data Scientist,Siemens,3-8 Yrs,Bangalore/Bengaluru,Not disclosed
5,Senior Data Scientist,Sabre,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
6,Senior Data Scientist (Fintech),NIRA,4-6 Yrs,Bangalore/Bengaluru,"25,00,000 - 35,00,000 PA."
7,Senior Data Scientist,Shell,6-11 Yrs,"Chennai, Bangalore/Bengaluru",Not disclosed
8,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Not disclosed
9,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Not disclosed
10,Data Scientist - Lead / Architect - Looking Fo...,Wipro,5-10 Yrs,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Not disclosed

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
## You have to use the location and salary filter.
## You have to scrape data for “Data Scientist” designation for first 10 job results.
## You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
## The task will be done as shown in the below steps:
## 1. first get the webpage https://www.naukri.com/
## 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
## 3. Then click the search button.
## 4. Then apply the location filter and salary filter by checking the respective boxes
## 5. Then scrape the data for the first 10 jobs results you get.
## 6. Finally create a dataframe of the scraped data.

In [100]:
 # Let's import the required libraries 
import selenium
from selenium import webdriver 
import pandas as pd
import warnings
import time
warnings.filterwarnings("ignore")

In [101]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(5)

In [102]:
url = 'http://www.naukri.com/'
driver.get(url)

In [103]:
# finding web elelment for search job bar using class name
search_job = driver.find_element_by_class_name("suggestor-input" )
search_job

In [104]:
# write on a search bar
search_job.send_keys("Data Scientist")

In [105]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [106]:
search_btn.click()

In [107]:
time.sleep(5)
search_filter_loc = driver.find_element_by_xpath('//span[@title="Delhi / NCR"]')
search_filter_loc.click()

In [108]:
search_filter_loc = driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]')
search_filter_loc.click()

### Extracting title

In [109]:
title = []
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [110]:
job_title = []
for i in title:
    job_title.append(i.text)

In [119]:
jobs = job_title[0:10]
jobs

['Data Scientist',
 'Data Scientist | A Fintech Organisation',
 'Data Scientist-Onsite and offshore',
 'Data Scientist (freelance)',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Urgent Requirement || Data Scientist || Noida']

### Extracting company name

In [112]:
com_name = []
com_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name = []
for i in com_name:
    company_name.append(i.text)

In [113]:
jobs_company_name = company_name[0:10]
jobs_company_name

['NAVIKENZ INDIA PRIVATE LIMITED',
 'Vision Beyond Resources India Private Limited',
 'PROKXIMITY',
 '2Coms',
 'CHANGE LEADERS CONSULTING',
 'DECISION POINT PRIVATE LIMITED',
 'Alp Consulting Limited',
 'Microsoft',
 'Microsoft',
 'HCL']

### Extracting experience

In [114]:
exp = []
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_req = []
for i in exp:
    exp_req.append(i.text)

In [115]:
jobs_exp_req = exp_req[0:10]
jobs_exp_req

['2-5 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-8 Yrs']

### Extracting Location

In [116]:
loc = []
loc = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")
location = []
for i in loc:
    location.append(i.text)

In [117]:
jobs_location = location[0:10]
jobs_location

['Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi',
 'New Delhi',
 'Gurgaon/Gurugram, Chennai',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Delhi / NCR']

In [118]:
job_details = pd.DataFrame({})

job_details["JOB TITLE"] = jobs
job_details["JOB LOCATION"] = jobs_location
job_details["COMPANY NAME"] = jobs_company_name
job_details["EXPERIENCE REQUIRED"] = jobs_exp_req

job_details

,JOB TITLE,JOB LOCATION,COMPANY NAME,EXPERIENCE REQUIRED
0,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",NAVIKENZ INDIA PRIVATE LIMITED,2-5 Yrs
1,Data Scientist | A Fintech Organisation,Gurgaon/Gurugram,Vision Beyond Resources India Private Limited,2-7 Yrs
2,Data Scientist-Onsite and offshore,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",PROKXIMITY,3-8 Yrs
3,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
4,Data Scientist,New Delhi,CHANGE LEADERS CONSULTING,3-8 Yrs
5,Data Scientist,"Gurgaon/Gurugram, Chennai",DECISION POINT PRIVATE LIMITED,1-6 Yrs
6,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Alp Consulting Limited,1-6 Yrs
7,Data & Applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
8,Data and applied Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",Microsoft,3-7 Yrs
9,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL,3-8 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
## 1. Brand
## 2. Product Description
## 3. Price
## The attributes which you have to scrape is ticked marked in the below image.
## To scrape the data you have to go through following steps:
## 1. Go to Flipkart webpage by url : https://www.flipkart.com/
## 2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon
## 3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.

In [125]:
 # Let's import the required libraries 
import selenium
from selenium import webdriver 
import pandas as pd
import warnings
import time
warnings.filterwarnings("ignore")

In [126]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')
time.sleep(5)

In [127]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [128]:
time.sleep(5)
close = driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
close.click()

In [129]:
search_prod = driver.find_element_by_name('q')
search_prod.send_keys("sunglasses")

In [130]:
search_button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

### 1.Brand
### 2.Product
### 3.Price
### 4.Discount

In [133]:
brand = []
brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [136]:
brand

[<selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="9610f282-3959-4861-a873-6d820229f420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="6febd1f7-bc9d-4044-bdbc-bf7c5b60a86b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="d108541b-b3bd-42c1-8b00-3dd24e414680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="6e7ece76-fcdb-4b01-9828-96acabf41bdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="e790b6a7-3b0d-454d-8c5c-61925f7dd297")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="974849d2-7098-4fd1-9ca2-fac17b3467eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="391378c1-5641-448e-83fb-3760d3418c32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="7bb3eb63-049e-4b08-88ab-738475c5df55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="ff4772b4-2846-4c88-aefc-ef62e9c59317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="e23f0a1e-5a4b-44db-860f-d94ca4d61844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="dfdc69c5-d35c-4acc-bf71-4f5851bb9567")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="997ed1dd-2171-44c3-8b3e-2594d9a05a5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="3a551ed6-32e9-4233-a264-1fac6211692a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="b8a35de2-ac20-4ed1-aa09-193897838633")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="3c4aa7d2-9b09-4241-94e7-28e6b2d1c08c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="79e1090a-1278-482d-946f-9627a522a132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="b74bb26b-5843-47db-ace7-ed135c73a818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="f43bab86-9ed2-48ec-b31a-729df1645afe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="711d3671-2dcc-42d0-a381-af3c8c523d12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="ef698c66-0c1e-465c-8693-d7a0690f51c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="f674004e-77da-4989-9724-cac3b0c4485f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="57891e78-8b57-40ed-b3f9-35656f522d5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="eed63914-95e0-4ffe-99e9-bb20faed1a8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="ffef352a-e15b-4ccb-bf9f-5e329a78bf06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="c24ff3b3-d1ad-4007-8b12-3cf831a8548f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="a8266dda-54de-409d-bdf8-6867152b20e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="ae87691f-284e-48e6-8cda-e0c7d5f5dfa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="bd8dd83e-4941-4c29-9888-99eee1a38e64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="594e7552-95f0-496a-89e7-ab4c4cfacbc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="cadff925-a686-46ac-8cb0-ae4ac8684052")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="b588b44f-b14a-4763-926f-78fd1f5d54d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="d0f29d73-29c1-475f-a153-7798c4e2ccae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="07c300fa-b136-41f1-aa50-53f918e9c05e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="2c08674c-ad28-4fed-b3b6-42b464cd9e5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="7dfb0990-fbfb-4f69-b7d2-0df87fc51413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="8df1343c-1643-40fd-99e1-1d95eda26065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="a92eb5f1-578d-46f4-83d9-e4df891b803a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="46ceb3d0-23c3-49ca-8d2c-c1e9fd03fe1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="07371251-47e1-4db1-a7d2-480baf1793a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b24f473d7e39f067a5080e81ca822e0c", element="58ac0e69-38cf-4fc0-bb1c-4aa59f8988dc")>]

## Extracting brand name

In [135]:
time.sleep(3)
brand_name = []
for i in brand:
    brand_name.append(i.text)
len(brand_name)

40

In [172]:
brand_name

['Singco India',
 'VINCENT CHASE',
 'GANSTA',
 'Elligator',
 'GANSTA',
 'Fastrack',
 'SRPM',
 'ROYAL SON',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'New Specs',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'SUNBEE',
 'agera',
 'Fastrack',
 'FARENHEIT',
 'PHENOMENAL',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Johaena',
 'PHENOMENAL',
 'ROYAL SON',
 'Elligator',
 'Elligator',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'New Specs',
 'GANSTA',
 'Lee Topper',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'PHENOMENAL',
 'VINCENT CHASE',
 'New Specs',
 'Elligator',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'SRPM',
 'PIRASO',
 'Rich Club',
 'VINCENT CHASE',
 'New Specs',
 'SUNBEE',
 'Rich Club',
 'ROYAL SON',
 'Lee Topper',
 'kingsunglasses',
 'DEIXELS',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'hipe',
 'VINCENT CHASE',
 'PIRASO',
 'GANSTA',
 'kingsunglasses',
 'FARENHEIT',
 'Lee Topper',
 'Rich Club',
 'kingsunglasses',
 'ROYAL SON',
 'Johaena',
 'Silver Kartz',
 'PIRASO',
 'ROYAL SON',
 'Fastrack',
 'Singco India',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VILLAIN',
 'Elligator',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'PHENOMENAL',
 'WROGN',
 'SHAAH COLLECTIONS',
 'Singco India',
 'Silver Kartz',
 'PIRASO',
 'Elligator',
 'ROZZETTA CRAFT',
 'GANSTA',
 'PHENOMENAL',
 'ROYAL SON',
 'VINCENT CHASE',
 'kingsunglasses',
 'New Specs',
 'Lee Topper',
 'GANSTA',
 'kingsunglasses',
 'Lee Topper',
 'GANSTA',
 'ROYAL SON']

## Extracting Product discription

In [137]:
time.sleep(3)
desc = []
desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

In [139]:
des = []
for i in desc:
    des.append(i.text)
len(des)

40

In [173]:
des

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (64)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Rectangular Sunglasses (64)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Aviator Sunglasses (57)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'Polarized Wayfarer Sunglasses (55)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (64)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored Rectangular Sunglasses (64)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized Round Sunglasses (48)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Gradient Butterfly Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

## Extracting Price

In [140]:
time.sleep(3)
paise = []
paise = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [141]:
price = []
for i in paise:
    price.append(i.text)
len(price)

40

In [181]:
price

['₹614',
 '₹1,483',
 '₹159',
 '₹198',
 '₹219',
 '₹729',
 '₹138',
 '₹614',
 '₹193',
 '₹115',
 '₹184',
 '₹1,129',
 '₹131',
 '₹179',
 '₹136',
 '₹1,365',
 '₹221',
 '₹146',
 '₹579',
 '₹1,149',
 '₹215',
 '₹150',
 '₹150',
 '₹649',
 '₹349',
 '₹102',
 '₹259',
 '₹649',
 '₹215',
 '₹139',
 '₹249',
 '₹299',
 '₹209',
 '₹154',
 '₹226',
 '₹1,483',
 '₹180',
 '₹226',
 '₹239',
 '₹1,365',
 '₹133',
 '₹117',
 '₹399',
 '₹349',
 '₹157',
 '₹249',
 '₹115',
 '₹1,483',
 '₹128',
 '₹183',
 '₹190',
 '₹614',
 '₹149',
 '₹130',
 '₹152',
 '₹1,129',
 '₹621',
 '₹199',
 '₹139',
 '₹1,365',
 '₹299',
 '₹185',
 '₹124',
 '₹1,149',
 '₹225',
 '₹175',
 '₹199',
 '₹649',
 '₹109',
 '₹234',
 '₹175',
 '₹649',
 '₹1,149',
 '₹153',
 '₹309',
 '₹299',
 '₹499',
 '₹241',
 '₹449',
 '₹1,483',
 '₹147',
 '₹709',
 '₹217',
 '₹614',
 '₹196',
 '₹299',
 '₹213',
 '₹349',
 '₹154',
 '₹239',
 '₹399',
 '₹1,483',
 '₹114',
 '₹109',
 '₹325',
 '₹219',
 '₹170',
 '₹231',
 '₹149',
 '₹614']

## Extracting Discount

In [142]:
time.sleep(3)
dis = []
dis = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [143]:
disc = []
for i in dis:
    disc.append(i.text)
len(disc)

40

disc

In [144]:
next_button = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [145]:
time.sleep(3)
brand2 = []
brand2 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [146]:
for i in brand2:
    brand_name.append(i.text)
len(brand_name)

80

In [147]:
time.sleep(3)
desc2 = []
desc2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in desc2:
    des.append(i.text)

In [150]:
#for i in desc2:
#    des.append(i.text)

In [151]:
len(des)

120

## Extracting price

In [152]:
time.sleep(3)
paise2 = []
paise2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [153]:
for i in paise2:
    price.append(i.text)
len(price)

80

In [154]:
time.sleep(3)
dis2 = []
dis2 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [156]:
for i in dis2:
    disc.append(i.text)
len(disc)

120

In [157]:
#next_button2 = driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
#next_button2.click()

target_url = []
url = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
for i in url:
    target_url.append(i.get_attribute('href'))

In [158]:
driver.get(target_url[1])
#search?q=sunglasses&otracker=search&otracker-9=search&marketplace=FLIPKART&as-show=on&as=off&page=1
#search?q=sunglasses&otracker=search&otracker-9=search&marketplace=FLIPKART&as-show=on&as=off&page=3

In [ ]:
## Extracting Brand

In [159]:
time.sleep(3)
brand3 = []
brand3 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

In [161]:
for i in brand3:
    brand_name.append(i.text)
len(brand_name)

160

In [162]:
time.sleep(3)
desc3 = []
desc3 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in desc3:
    des.append(i.text)
len(des)

160

In [164]:
time.sleep(3)
paise3 = []
paise3 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in paise3:
    price.append(i.text)
len(price)

160

In [166]:
time.sleep(3)
dis3 = []
dis3 = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in dis3:
    disc.append(i.text)
len(disc)

200

In [167]:
print(len(brand_name),len(disc),len(price),len(des))

160 200 160 160

In [168]:
brand_name = brand_name[0:100]
price= price[0:100]
disc = disc[0:100]
des = des[0:100]

In [170]:
product_info = pd.DataFrame({})
product_info['Brand'] = brand_name
product_info['Price'] = price
product_info['Discounts'] = disc
product_info['Description'] = des

In [171]:
product_info

,Brand,Price,Discounts,Description
0,Singco India,₹614,79% off,"Gradient, Toughened Glass Lens, UV Protection ..."
1,VINCENT CHASE,"₹1,483",40% off,"by Lenskart Polarized, UV Protection Wayfarer ..."
2,GANSTA,₹159,91% off,"UV Protection, Riding Glasses Wayfarer Sunglas..."
3,Elligator,₹198,92% off,UV Protection Round Sunglasses (54)
4,GANSTA,₹219,89% off,UV Protection Aviator Sunglasses (57)
...,...,...,...,...
95,GANSTA,₹219,43% off,"by Lenskart Polarized, UV Protection Wayfarer ..."
96,kingsunglasses,₹170,22% off,UV Protection Aviator Sunglasses (Free Size)
97,Lee Topper,₹231,90% off,"Mirrored, UV Protection Wayfarer Sunglasses (53)"
98,GANSTA,₹149,90% off,"Mirrored, UV Protection, Gradient Round Sungla..."
99,ROYAL SON,₹614,45% off,"by Lenskart Polarized, UV Protection Wayfarer ..."

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
## When you will open the above link you will reach to the below shown webpage .
## As shown in the above page you have to scrape the tick marked attributes.These are:
## 1. Rating
## 2. Review summary
## 3. Full review
## 4. You have to scrape this data for first 100 reviews.

In [256]:
import selenium
import pandas as pd
from selenium import webdriver

In [257]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [258]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power-%20adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [259]:
rating=[]
review_summary=[]
full_review=[]

In [260]:
ratings_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
ratings_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="48434249-4cbf-4044-b92b-21e43242fc77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="899f22bc-ecf1-44d3-8272-f052ea79d8e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="5cb025d2-558c-4a9b-89ec-22170dccd809")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="603abc84-1dc4-4609-8f67-f1f00b45870a")>]

In [261]:
for i in ratings_tags:
    rate=i.text
    rating.append(rate)
rating[0:4]

['5', '5', '5', '']

In [263]:
review_summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
review_summary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="164cfdbc-ae6e-4a26-aa72-b24989ae6c08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="438395a2-42d6-428a-8c37-7b8501ceab1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="f1c9ec66-1477-4842-b007-71afbdf21334")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="924c5a0a-add4-4ba1-98d6-4a531c9a63fd")>]

In [264]:
for i in review_summary_tags:
    review=i.text
    review_summary.append(review)
review_summary[0:4]

['Brilliant', 'Simply awesome', 'Best in the market!', '']

In [265]:
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="263f6c2a-ff3a-41ec-8ee7-efdb65cb36d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="754f6fc9-9174-4c47-abf4-90a20d6f71f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="feddc552-c0e5-41a4-bb59-a8c4f6fb9853")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2c092b126979520b00da6d24144b545a", element="be4c9fcc-1fdf-47fa-98b6-492ad1665d70")>]

In [266]:
for i in full_review_tags:
    f_review=i.text
    full_review.append(f_review)
full_review[0:4]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 '']

In [267]:
(len(rating),len(review_summary),len(full_review))

(10, 10, 10)

In [268]:
reviews=pd.DataFrame({})
reviews['Rating']=rating[0:10]
reviews['Review_summary']=review_summary[0:10]
reviews['Full_review']=full_review[0:10]

In [269]:
reviews

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,,,
4,,,
5,,,
6,,,
7,,,
8,,,
9,,,

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

## 1.Brand
## 2.Product Description
## 3.Price
## As shown in the below image, you have to scrape the tick marked attributes.

In [274]:
import selenium
import pandas as pd
from selenium import webdriver

In [275]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [276]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [277]:
search=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.click()

In [278]:
search.send_keys("sneakers")

In [279]:
search_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [280]:
brands=[]
product_descriptions=[]
price=[]

In [281]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="7b1cdf9b-cacc-49fb-ab17-9cc2f5d03162")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="5f09abe5-c157-4d26-9b0e-e324d0ef16ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="8c74d776-3a16-417f-8cc5-df5d18050ae8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="0bf913c5-498a-4c64-8ec1-75e757a4d944")>]

In [282]:
for i in brand_tags:
    brand=i.text
    brands.append(brand)
brands[0:4]

['BIRDE', 'BIRDE', 'BRUTON', 'Elevarse']

In [283]:
product_description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
product_description_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="70dc1638-7c80-4452-a6e0-764117f6341c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="b7390344-c452-4bf7-a38a-53fdfb10fcd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="4cefbc08-b97c-47e9-9130-3b71b7773b9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="856d9b30-4992-4842-832a-bdf54a6aca1c")>]

In [284]:
for i in product_description_tags:
    product_description=i.text
    product_descriptions.append(product_description)
product_descriptions[0:4]

['Stylish Comfortable Lightweight, Breathable Sports Walk...',
 'Stylish Comfortable Lightweight, Breathable Casual Shoe...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men']

In [285]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="993ba14d-1fd4-42e2-9396-add8d7099c36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="57307c94-f9b4-40c9-adbf-25af913f56d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="947c1c39-dc66-47de-b301-8a5c9f19d740")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f76c1f962d68ff6f7581e4302b657948", element="fb6752aa-0197-443e-90a8-5662d971a313")>]

In [286]:
for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

['₹476', '₹476', '₹209', '₹299']

In [287]:
(len(brands),len(product_descriptions),len(price))

(40, 33, 40)

In [288]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brands[0:30]
sneakers['Product_Description']=product_descriptions[0:30]
sneakers['Price']=price[0:30]
sneakers

,Brand,Product_Description,Price
0,BIRDE,"Stylish Comfortable Lightweight, Breathable Sp...",₹476
1,BIRDE,"Stylish Comfortable Lightweight, Breathable Ca...",₹476
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹209
3,Elevarse,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,₹299
4,corsac,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹449
5,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹374
6,BRUTON,Combo Pack Of 3 Latest Casual Shoes Sneakers F...,₹449
7,BRUTON,5011-Latest Collection Stylish Casual Loafer S...,₹397
8,World Wear Footwear,Sneakers For Men,₹149
9,URBANBOX,Sneakers For Men,₹170
10,Labbin,Men's Stylish Sports & Casual Shoes For Men Sn...,₹424
11,aadi,Sneakers Sneakers For Men,₹349
12,DUNKASTON,"Casual , Partywear Sneakers Shoes For Men's An...",₹349
13,Trendmode,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹249
14,RapidBox,Shoes Sneakers Casuals Boots Slip On Sneakers ...,₹630
15,AERAMBOL,White Sneaker For Men's/Boy's Sneakers For Men,₹210
16,SCATCHITE,Luxury Fashionable casual sneaker shoes Sneake...,₹327
17,D-SNEAKERZ,Original Luxury Branded Fashionable Men's Casu...,₹249
18,Chevit,Luxury Fashionable casual shoes Sneakers For Men,₹599
19,HOTSTYLE,Sneakers For Men,₹249
20,Shoes Bank,Sneakers For Men,₹295
21,luxury fashion,Sneakers For Men,₹399
22,ASTEROID,Believe Partywear Casual Shoes for Men's Sneak...,₹424
23,luxury fashion,411 Casual Sneakers For Men,₹357
24,Noztile,Sneakers For Men,₹349
25,World Wear Footwear,Sneaker for men Sneakers For Men,₹199
26,Rzisbo,Sports Running Shoes Sneakers For Men,₹499
27,HANIIY,"white Casual shoes,Sneakers for men's Sneakers...",₹449
28,RapidBox,Sneakers For Men,₹640
29,Numenzo,Sneakers For Men,₹376

## Q7: Go to the link - https://www.myntra.com/shoes

## Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

## And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [289]:
import selenium
import pandas as pd
from selenium import webdriver

In [290]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [291]:
driver.get('https://www.myntra.com/shoes/')

In [292]:
#filter for price range
price_range=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_range.click()

In [293]:
#filter for colour
shoes_color=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
shoes_color.click()

In [294]:
brands=[]
shoe_descriptions=[]
price=[]

In [295]:
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="61014374-5510-4fd2-a6d1-353d9fe9da1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="1d00ab62-2876-4031-b56a-c90b7f02d227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="839db2df-e210-4391-a4a3-8831e3c7cb93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="120879f8-fca4-4ed5-8f2b-6e901dfdce87")>]

In [296]:
for i in brand_tags:
    brand=i.text
    brands.append(brand)
brands[0:4]

['Nike', 'Nike', 'Nike', 'Clarks']

In [297]:
shoe_description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
shoe_description_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="3d81316c-84ce-4ebd-952b-b23ed5682ce7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="2d2172d2-3015-49ea-8639-153ae5a2a39b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="f6b053a7-a63e-4fcf-8ded-c9d3283b8ff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="5070650a-cc14-4057-96e5-637a6b16912d")>]

In [298]:
for i in shoe_description_tags:
    shoe_description=i.text
    shoe_descriptions.append(shoe_description)
shoe_descriptions[0:4]

['Men Winflo 7 Running Shoes',
 'Men Air Max Dawn Sneakers',
 'Men Blazer Court Skateboarding',
 'Men Leather Formal Loafers']

In [299]:
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="b6bdb700-c7b1-47a9-8aee-10d0c5cbad8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="35c48963-b343-47b1-9351-8ffbb0facdd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="d388fb5e-40f1-4b5e-b275-981ddbbc5e0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4e250e6f9cfa304a890d4e460a1daf15", element="cef83c0a-a549-4e86-abeb-2b3548fb4091")>]

In [300]:
for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

['Rs. 7995', 'Rs. 10995', 'Rs. 7495', 'Rs. 7499']

In [301]:
(len(brands),len(shoe_descriptions),len(price))

(50, 50, 50)

In [302]:
shoes=pd.DataFrame({})
shoes['Brand']=brands[0:50]
shoes['Shoe_Description']=shoe_descriptions[0:50]
shoes['Price']=price[0:50]
shoes

,Brand,Shoe_Description,Price
0,Nike,Men Winflo 7 Running Shoes,Rs. 7995
1,Nike,Men Air Max Dawn Sneakers,Rs. 10995
2,Nike,Men Blazer Court Skateboarding,Rs. 7495
3,Clarks,Men Leather Formal Loafers,Rs. 7499
4,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
5,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
6,Puma,Men Running Shoes,Rs. 12999
7,Puma,Men Magnify Nitro Running,Rs. 7799Rs. 12999(40% OFF)
8,Puma,Men Deviate Nitro Running Shoe,Rs. 10499Rs. 14999(30% OFF)
9,Tommy Hilfiger,Men Leather Sneakers,Rs. 7999
10,ASICS,Women Running Shoes,Rs. 7999
11,Skechers,Men Go Run Hyper Burst Running,Rs. 7224Rs. 8499(15% OFF)
12,Puma,Women Magnify Nitro Shoes,Rs. 7799Rs. 12999(40% OFF)
13,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
14,Puma,Men Electrify Nitro Running,Rs. 9999
15,Tommy Hilfiger,Men Textured Loafers,Rs. 8999
16,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
17,RARE RABBIT,Men Leather Slip-On Sneakers,Rs. 7999
18,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
19,Tommy Hilfiger,Leather Sandals,Rs. 7599
20,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
21,Tommy Hilfiger,Women CLEAT Textured Sneakers,Rs. 7739Rs. 8599(10% OFF)
22,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
23,Puma,Women Velocity NITRO Runners,Rs. 7149Rs. 10999(35% OFF)
24,Xtep,Men Running Shoes,Rs. 7699
25,Puma,Men Training or Gym Shoes,Rs. 7999
26,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
27,Puma,Women Eternity Nitro Running,Rs. 7149Rs. 12999(45% OFF)
28,PUMA Motorsport,Unisex Ferrari Drift8 Sneakers,Rs. 7999
29,Clarks,Men Solid Leather Formal Loafers,Rs. 7999
30,Saint G,Leather Block Heeled Boots,Rs. 9265Rs. 10900(15% OFF)
31,Heel & Buckle London,Men Textured Leather Formal Loafers,Rs. 13990
32,Geox,Men Leather Loafers,Rs. 10990
33,FILA,Women Leather Sneakers,Rs. 8499
34,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
35,ALDO,Wedge Sandals,Rs. 7999
36,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 8399Rs. 11999(30% OFF)
37,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
38,RARE RABBIT,Men Leather Flat Boots,Rs. 7999Rs. 9999(20% OFF)
39,Tommy Hilfiger,Women ELEVATED Leather Sneaker,Rs. 7219Rs. 7599(5% OFF)
40,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
41,DAVINCHI,Ustraa black,Rs. 8990
42,Saint G,Women Leather Heeled Boots,Rs. 11473Rs. 14900(23% OFF)
43,Clarks,Men Solid Leather Formal Brogues,Rs. 7999
44,DAVINCHI,Solid Slip On Shoes,Rs. 7990
45,Nike,Women Air Max Furyosa Sneakers,Rs. 11470Rs. 13495(15% OFF)
46,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)
47,Saint G,Women Kitten Heeled Boots,Rs. 7565Rs. 8900(15% OFF)
48,Bugatti,Men Black Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
49,Puma,Women Eternity NITRO Shoes,Rs. 7799Rs. 12999(40% OFF)

### Q8: Go to webpage https://www.amazon.in/
### Enter “Laptop” in the search field and then click the search icon.
### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
### 1. Title
### 2. Ratings
### 3. Price
### As shown in the below image as the tick marked attributes.

In [303]:
import selenium
import pandas as pd
from selenium import webdriver

In [304]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [305]:
driver.get('https://www.amazon.in/')

In [306]:
search=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search.click()

search.send_keys("Laptop")

#search for laptop

search_btn=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_btn.click()

In [308]:
#filter for CPU Type  “Intel Core i7” 

i7=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
i7.click()

#Here we skipped "Intel Core i9" filter only applied "Intel Core i7"

In [309]:
url="https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&qid=1636879490&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_9"

driver.get(url)

In [310]:
titles=[]
ratings=[]
price=[]

title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title_tags[0:4]

for i in title_tags:
    title=i.text
    titles.append(title)
titles[0:4]

['Mi Notebook Ultra 3.2K resolution display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light laptop (16GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint sensor/1.7Kg)',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU']

In [313]:
ratings_tags=driver.find_elements_by_xpath("//i[@class='a-icon a-icon-star a-star-4']/span")
ratings_tags[0:4]

for i in ratings_tags:
    rate=i.text
    ratings.append(rate)
ratings[0:4]

[]

In [312]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:4]

for i in price_tags:
    prc=i.text
    price.append(prc)
price[0:4]

['77,490', '92,999', '59,990', '86,490']

In [314]:
(len(titles),len(ratings),len(price))

(30, 0, 29)

In [315]:
#i skipped rating data 

Laptop=pd.DataFrame({})
Laptop['Title']=titles[0:10]
Laptop['Price']=price[0:10]

Laptop

                                               Title   Price
0  Mi Notebook Ultra 3.2K resolution display Inte...  77,490
1  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...  92,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...  59,990
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...  86,490
4  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...  96,990
5  LG Gram 14 inches Ultra-Light Intel Evo 11th G...  87,999
6  LG Gram Intel Evo 11th Gen Core i7 17 inches U...  99,499
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...  84,990
8  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,990
9  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....  89,990

### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
### 1. First get the webpage https://www.ambitionbox.com/
### 2. Click on the Job option as shown in the image
### 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.

In [316]:
import selenium
import pandas as pd
from selenium import webdriver

In [317]:
# lets first connect to web driver 
driver = webdriver.Chrome(r'C:\Users\ROHIT RAJAN\Downloads\chromedriver_win32\chromedriver.exe')

In [318]:
driver.get('https://www.ambitionbox.com/')

In [319]:
click_jobs=driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]')
click_jobs.click()

In [322]:
search=driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input')
search.click()

In [323]:
search.send_keys("Data Scientist")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="jobSearchPage"]/div[2]/div/div/div/div/button"}
  (Session info: chrome=98.0.4758.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x00E67AC3+2587331]
	Ordinal0 [0x00DFADD1+2141649]
	Ordinal0 [0x00CF3BB8+1063864]
	Ordinal0 [0x00D201CE+1245646]
	Ordinal0 [0x00D203CB+1246155]
	Ordinal0 [0x00D4A612+1418770]
	Ordinal0 [0x00D386D4+1345236]
	Ordinal0 [0x00D48A0A+1411594]
	Ordinal0 [0x00D384A6+1344678]
	Ordinal0 [0x00D153F6+1201142]
	Ordinal0 [0x00D162E6+1204966]
	GetHandleVerifier [0x0100DF22+1680738]
	GetHandleVerifier [0x010C0DBC+2413564]
	GetHandleVerifier [0x00EFD151+563089]
	GetHandleVerifier [0x00EFBF13+558419]
	Ordinal0 [0x00E0081E+2164766]
	Ordinal0 [0x00E05508+2184456]
	Ordinal0 [0x00E05650+2184784]
	Ordinal0 [0x00E0F5BC+2225596]
	BaseThreadInitThunk [0x77076739+25]
	RtlGetFullPathName_UEx [0x77AF8E7F+1215]
	RtlGetFullPathName_UEx [0x77AF8E4D+1165]

## Q10: Write a python program to scrape the salary data for Data Scientist designation.
## You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
## 1. First get the webpage https://www.ambitionbox.com/
## 2. Click on the salaries option as shown in the image.
## ASSIGNMENT 2
## 3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
## You have to scrape the data ticked in the above image.
## 4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
## 5. Store the data in a dataframe.